<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="microsoft.visualstudio.testtools" type="Microsoft.VisualStudio.TestTools.UnitTesting.TestConfigurationSection, Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions" />
	</configSections>
	<connectionStrings>
		<add name="database" connectionString="Server=192.168.0.200;Port=3306;uid=admin;Password=rootadmin;Database=pkids"/>
	</connectionStrings>
</configuration>